* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #442f28;
    --subColor1: #ffdf9f;
    --subColor2: #ffd37b;
    --subColor3: #deae47;
    --subColor4: #c28633;
    --lightBg: #eeeeee;
    --whiteColor: #ffffff;
    --lightGray: #a5a5a5;
    --grayColor: #6d6d6d;
    --priceColor: #cca300;
    --bgItemColor: #f0f0f0;
  }
  
a {
    text-decoration: none;
}
body{
    /* width: 100%;
    height: 150vh; */
    width: 100%;
    height: 100%;
    direction: rtl;
    font-family: "Fustat", sans-serif;
}
@media (max-width:768px) {
    /* body {
        width: 100%;
        height: 100%;
    } */
}
.main {
    width: 90%;
    height: 100%;
    margin: 5rem auto 5rem;
}

.info h2 {
    color: black;
    font-size: 28px;
    padding: 0,8rem;
}
.info p {
    position: relative;
    color: rgb(167, 167, 167);
    max-height: 1rem;
}
   
.info p::after {
    content: "";
    position: absolute;
    border: 1px solid #b5651d;
    width: 10%;
    height: 10%;
    left: 50%;
    right: 45%;
    top: 2rem;
}
.content-part1 {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 25px;
}

@media (max-width:768px){
    .content-part1 {
        display: flex;
        flex-direction: column;
        width: 100%;

    }
}
.content-part1 .text {
    width: 100%;
    background-color: #e5e5e5;
    padding: 20px;
    max-width: 100%;
    color: black;
    text-align: right;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: .9rem;
    color: var(--grayColor);
    /* line-height: 1.5rem; */
}

.content-part1 .images {
    width: 100%;
    display: block;
}
@media only screen and (max-width:768px) {
    .content-part1 .images {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        order: -1;
    }
}
.content-part1 .images img{
    width: 100%;
    object-fit: cover;
}
/* @media (max-width:767px){
    .content-part1 .images img{
        display: flex;
        flex: 1;
        position: relative;
    }
} */
.content-part2 {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media (max-width:768px) {
    .content-part2 {
        display: flex;
        flex-direction: column;
    }
}
.content-part2 .offer {
    display: flex;
    gap: 20px;
    width: 100%;
}
@media (min-width:768px) {
    .content-part2 .offer{
        display: flex;

    }   
}
.content-part2 .offer img {
    width: 100%;
    overflow: hidden;
    background-color: wheat;
    padding: 30px;
    object-fit: contain;
}
@media (max-width:768px){
    .content-part2 .offer img{
    }
}
.content-part2 .info {
    background-color: #c7c7c7;
    padding: 1rem;
    width: 75%;
}
@media (min-width:769px) {
    .content-part2 .info {
        width: 100%;
    }
}

.content-part2 .info img {
    width: 40px;
    display: inline-block;
    object-fit: contain;
    margin-left: 1rem;
}

.content-part2 .persons-info {
    background-color: #bfb9b4;
    padding: 1rem;
    width: 95%;

}
@media (max-width:768px) {
    .content-part2 .persons-info {
        width: 100%;
    }
}
.content-part2 .persons-info .steak {
    display: flex;
    margin-bottom: 20px;
}
.persons-info img {
    width: 40px;
    object-fit: contain;
    
}
.persons-info .steak .name {
    width: fit-content;
    display: inline;
    color: white;
    margin-right: 20px;
    font-size: 24px;
    position: relative;
}
.persons-info .steak .name::after {
    content: "التسويق";
    position: absolute;
    width: 100%;
    display: flex;
    font-size: 13px;
    margin-top: 7px;
}
.persons-info .paragraph {
    /* text-align: right;
    max-height: 140px;
    max-width: 600px; */
    text-align: right;
    font-family: "Noto Kufi Arabic", sans-serif;
    font-size: .9rem;
    color: var(--grayColor);
    margin: 2rem auto;
    /* line-height: 1.5rem; */
}
@media (max-width:768px){
    .persons-info .paragraph {
        font-size: 14px;
}
}
.persons-info .icon {
    display: flex;
    justify-content:left;
    cursor: pointer;
    font-size: 1.3rem;
    transform: translateY(10px) !important;
}  
@media (max-width:991px) {
    .persons-info .icon {
        transform: translateY(0);
    }
}
@media (min-width:768px) {
    .persons-info .icon {
        transform: translateY(0);
    }
}
@media (max-width:465px) {
    .persons-info .icon {
        transform: translateY(0);
    }
}
.Shares1 {
    transform: rotate(180deg);
    margin-left: 20px;
}
/* .persons-info .steak span {
    display: inline-block;
    margin-top:-10px;
    font-size: 13px;
    color: white;
    margin-left: 2rem;
}    */
.options {
    position: relative;
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;

}
@media (max-width:768px) {
    .options {
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
.options .free {
    position: relative;
    cursor: pointer;
}

/* .options .free::after {
    content: "";
    position: absolute;
    left: 14rem;
    border: 1px solid red;
    width: 20%;
    top: 50%;
    transform: translateY(30px) rotate(90deg);

} */
.options .free>img {
    width: 2.5rem;
}
.options .free p{
    font-size: 20px;
    margin-bottom: 3px;
}
@media (max-width:768px) {
    .options .free p {
        font-size: 11px;
    }
}
.options .free span {
    font-size: 18px;
    color: rgb(201, 201, 201);
}

@media (max-width:768px) {
    .options .free span {
        font-size: 7px;
        width: 100%;
    }
}

/* services */
    .services {
        display: flex;
        flex-direction: row;
        margin: 5rem auto;
    }
  
  .services-item {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--mainColor);
  }
  
  .services-item:last-child {
    border-left: 1px solid var(--mainColor);
  }
  
  .services-icon {
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
  }
  
  .services-item-icon-1 {
    background-position: center 5px;
    transition: all 0.5s;
  }
  
  .services-item:hover .services-item-icon-1 {
    background-position: center -88px;
  }
  
  .services-item-icon-2 {
    background-position: center -180px;
    transition: all 0.5s;
  }
  
  .services-item:hover .services-item-icon-2 {
    background-position: center -272px;
  }
  
  .services-item-icon-3 {
    background-position: center -365px;
    transition: all 0.5s;
  }
  
  .services-item:hover .services-item-icon-3 {
    background-position: center -458px;
  }
  
  .services-item-icon-4 {
    background-position: center -550px;
    transition: all 0.5s;
  }
  
  .services-item:hover .services-item-icon-4 {
    background-position: center -643px;
  }
  
  .services-item-icon-5 {
    background-position: center -735px;
    transition: all 0.5s;
  }
  
  .services-item:hover .services-item-icon-5 {
    background-position: center -827px;
  }
  
  .services-info h3 {
    font-size: 17px;
  }
  
  .services-info span {
    font-size: 15px;
    color: gray;
  }